EXPO_PUBLIC_SUPABASE_URL=https://supabase.hieraklinik.com
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiAiSFMyNTYiLCAidHlwIjogIkpXVCJ9.eyJyb2xlIjogImFub24iLCAiaXNzIjogInN1cGFiYXNlIiwgImlhdCI6IDE3MDAwMDAwMDAsICJleHAiOiAyMDAwMDAwMDAwfQ.1B0fBiIwDPaXiElLaYLOhrIUoeW7snZr3g3dyPPU0Lw
