EXPO_PUBLIC_SUPABASE_URL=https://nhousvqbuujcvsklazjv.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ob3VzdnFidXVqY3Zza2xhemp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU3Mjk2NjYsImV4cCI6MjA5MTMwNTY2Nn0.KeZ1hgHDSpvmUXmsABefcpST22nJuY5xvylaxH2llQU

